* {
  padding: 0;
  margin: 0;
}

#title {
  text-align: center;
}

#game {
  /*sets the layout of the game*/
  height: 500px;
  width: 400px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
}

#pipes {
  width: 50px;
  height: 500px; /* set same height as the height of #game */
  background-color: black;
  position: relative;
  left: 400px;
  animation: pipe 1s infinite linear;
}

#hole {
  width: 50px;
  height: 150px;
  background-color: white;
  position: relative;
  left: 400px;
  top: -500px;
  animation: pipe 1s infinite linear;
}

#bird {
  width: 30px;
  height: 30px;
  background-color: blue;
  border-radius: 50%; /*turns object into a circle*/
  top: 250px;
  position: absolute;
}

@keyframes pipe {
  0% {
    left: 444px;
  } /* pipe starting position */
  25% {
    left: 333px;
  }
  50% {
    left: 222px;
  }
  75% {
    left: 111px;
  }
  85% {
    left: 55px;
  }
  100% {
    left: -20px;
  } /* ending position */
}
